streamlit
numpy
scipy
torch
torchaudio
librosa
plotly
pytorch-lightning
wandb
audio-diffusion-pytorch
audio-encoders-pytorch
audio-data-pytorch
quantizer-pytorch
difformer-pytorch
a-transformers-pytorch